@tailwind base;
@tailwind components;
@tailwind utilities;

.edit{
    
    width: 150px;
    padding: 10px 0;
    background-color: #4979ff;
    border-radius: 4px;
    color: white;
    text-align: center;
}